rvm:
  - 2.1
  - 2.2.2

script: "bundle exec rake clean spec cucumber"

gemfile:
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile

matrix:
  fast_finish: true
  exclude:
    - gemfile: gemfiles/5.0.gemfile
      rvm: 2.1

sudo: false
cache: bundler
