language: ruby
sudo: false

rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4

# FIXME: fails with modern bundler
before_install:
  - rvm @global do gem uninstall bundler -a -x
  - rvm @global do gem install bundler -v 1.12.5

script: "bundle exec rake clean spec cucumber"

addons:
  apt:
    packages:
    - ghostscript

gemfile:
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile

matrix:
  fast_finish: true
  exclude:
    - gemfile: gemfiles/5.0.gemfile
      rvm: 2.1
